<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="modal-header"><h5 class="modal-title">Adicionar Caminhao</h5></div>
        <form (ngSubmit)="onSubmit(caminhaoForm)" #caminhaoForm="ngForm" class="form-horizontal">
            <div class="modal-body">               
                <div class="form-goup" style="text-align: left;">
                    <label  for="cnpj">CNPJ do Fornecedor:</label>
                    <input type="text" class="form-control col-sm-3"  id="cnpj" name="cnpj" [(ngModel)] = "caminhao.cnpj" maxlength="19"
                            required=true/>
                </div>
                <div class="form-goup" style="text-align: left;">
                    <label for="placa" >Placa do Caminhão:</label>
                    <input type="text" class="form-control col-sm-2" id="placa" name="placa" [(ngModel)] = "caminhao.placa" maxlength="8"
                            required=true/>
                </div>
                <div class="form-goup" style="text-align: left;">
                    <label for="prefixo">Prefixo Caminhão:</label>
                    <input type="text" class="form-control col-sm-2"  id="prefixo" name="prefixo"  
                            [(ngModel)] = "caminhao.prefixo" maxlength="4" required=true/>
                </div>        
            </div>
            <div class="modal-footer" style="justify-content: flex-start;"> 
                <button type="submit" class="btn btn-primary" style="background-color:#0078BF;  " [disabled]="!caminhaoForm.form.valid">Salvar</button>
            </div> 
        </form>        
    </div>
</div>

    
    
