<div class="container-fluid" style="width: 50%;">
  <div class="panel panel-primary">
    <div class="panel-heading"><h3>Editar Caminhao</h3></div>
      <form (ngSubmit)="onSubmit(caminhaoForm)" #caminhaoForm="ngForm" class="form-horizontal">
        <div class="model-body">  
            <div class="form-group" style="text-align: left;">
                <label for="id">Caminhao ID:</label>
                <input type="number" class="form-control col-sm-2" id="id" name="id" [(ngModel)] = "caminhao.id" readonly="true" />
            </div>             
            <div class="form-goup" style="text-align: left;">
                <label  for="cnpj">CNPJ do Fornecedor:</label>
                <input type="text" class="form-control col-sm-4"  id="cnpj" name="cnpj" [(ngModel)] = "caminhao.cnpj" maxlength="19"
                    required=true/>
            </div>
            <div class="form-goup" style="text-align: left;">
                <label for="placa" >Placa do Caminhão:</label>
                <input type="text" class="form-control col-sm-3" id="placa" name="placa" [(ngModel)] = "caminhao.placa" maxlength="8"
                    required=true/>
            </div>
            <div class="form-goup" style="text-align: left;">
                <label for="prefixo">Prefixo Caminhão:</label>
                <input type="text" class="form-control col-sm-3"  id="prefixo" name="prefixo" [(ngModel)] = "caminhao.prefixo" maxlength="4" 
                    required=true/>      
            </div>
            </div>
            <div class="modal-footer" style="justify-content: flex-start;"> 
            <button type="submit" class="btn btn-primary" style="background-color:#0078BF;" [disabled]="!caminhaoForm.form.valid">Alterar</button>
        </div> 
    </form>        
  </div>
</div>