<div class="container-fluid">
    <h5 >Lista de Caminhoes</h5>
    <table class="table table table-striped table-bordered">
        <tr>
            <th class="th-blue">Caminhão ID</th>
            <th class="th-blue">Caminhao CNPJ</th>
            <th class="th-blue">Caminhão Placa</th>   
            <th class="th-blue">Caminhao Prefixo</th> 
            <th class="th-blue"></th>
        </tr>    
        <tr *ngFor ="let caminhao of caminhoes">
            <td>{{caminhao.id}}</td>    
            <td>{{caminhao.cnpj}}</td>
            <td>{{caminhao.placa | uppercase}}</td>
            <td>{{caminhao.prefixo | uppercase}}</td>
            <td><button type="button" class="btn btn-primary" style="background-color:#0078BF;" routerLink="edit-caminhoes/{{caminhao.id}}"> editar</button></td>
        </tr>  
    </table>        
    <div class="modal-footer" style="justify-content: flex-start;">
        <button type="button" class="btn btn-primary" style="background-color:#0078BF;" routerLink="add-caminhoes">Create</button>                              
    </div>
</div>


    



